<div class="main">
  <div class="character" *ngFor="let character of arrayCharacters; let id = index">
    <h1>{{character.name}}</h1>
    <h2>{{character.class}}</h2>
    <div class="action">
      <select id="action{{id}}">
        <option value="attack">attack</option>
        <option value="follow-up attack">follow-up attack</option>
        <option value="bonus attack">bonus attack</option>
        <option value="sneak attack">sneak attack</option>
        <option value="hide">hide</option>
        <option value="invisibility out-of-sight">invisibility out-of-sight</option>
        <option value="invisibility in-sight">invisibility in-sight</option>
      </select>
      <button (click)="addAction(id)">select action</button>
      <div *ngFor="let actions of character.actions">{{actions}}</div>
      <button (click)="changePriority(id)">add to priority</button>
    </div>
    <h3>{{character.priority}}</h3>
  </div>
</div>
