/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
}

nav{
    font-size: 52px;
    font-weight: 600;
    width: 100%;
    padding: 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}